*.o
kernel.elf
node_modules/
toolchain/
fukuro.iso
*~
*.gcda
*.gcno
docs/html
*.img

.config
.config.mk
config.h
*.old
test.exe

*.in
/aclocal.m4
*.sub
*.guess
/configure
/install-sh
Makefile
/tmp
/build
build.mk
/build-aux/ar-lib
/build-aux/compile
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing
*.cache
*.log
*.status
stamp-h1
.deps
.dirstamp

/sys/fukuro
machine
